body {
    margin: 0;
}

a {
    text-decoration: none;
    font-family: sans-serif;
}

.login {
    border: 1px solid green;

    color: #7b00a0;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 350px;
    font-family: sans-serif;
}

.logo {
    background-color: #7b00a0;
    position: absolute;
    top: 78px;
    left: 356px;
}